.site-header {

	position: relative;
	background: $color-header;
	margin-bottom: 1.5rem;

	.container {
		@extend .grid;
		@extend .grid-centered;
	}

	.site-branding {

		flex: 0 0 100%;

		@media #{ $media-lg } {
			flex: 0 0 grid-item( 8 );
		}

		padding: 1.5rem 0;
		text-align: center;
		color: white;

		h1, a {
			color: inherit;
		}

		h1 {
			margin-bottom: 1.5rem;
		}

	}

	@media #{ $media-lg } {
		.header-event {
			flex: 0 0 grid-item( 12 );
		}
	}


	&:after {
		content: ' ';
		display: block;
		left: 0;
		right: 0;
		top: auto;
		background: rgba(0,0,0,0.2);
		bottom: 0;
		margin: 0;
		position: absolute;
		height: 3px;
	}

}
