.wpmeetup-contact {

	display: flex;
	flex-wrap: wrap;
	margin: 0 -.75rem;

	.wpmeetup-contact-item {

		width: 100%;
		margin: 0 0 1.5rem;
		padding: 0 .75rem;
		box-sizing: border-box;

		 a {

			@extend .btn;

			text-align: left;
			display: block;
	 		text-decoration: none;
			padding: .75rem .75rem .75rem calc( 1.5rem + 32px );
			line-height: 1.5rem;

			&:before {

				@extend .icon;

				content: ' ';
				float: left;
				margin-left: calc( -.75rem - 32px ) !important;
				margin-top: -.75rem !important;
				height: 3rem;

			}
		}

		&.wpmeetup-contact-item-twitter a:before {
			@extend .icon-twitter;
		}

		&.wpmeetup-contact-item-facebook a:before {
			@extend .icon-facebook;
		}

		&.wpmeetup-contact-item-email a:before {
			@extend .icon-mail;
		}

	}

}

/**
 * Bit of a hack to nicely align our form widget with our social widget.
 */
@media #{ $media-lg } {
	.wpmeetup-contact {
		margin-top: 2.25rem;
		.wpmeetup-contact-item {
			margin-bottom: 2.25rem;
		}
	}
}
