.wpleeds-contact {

	display: flex;
	flex-wrap: wrap;
	margin: 0 -.75rem;

	.wpleeds-contact-item {

		flex: 0 0 calc( 100% - 1.5rem );
		margin: 0 .75rem 1.5rem;

		@media #{ $media-lg } {
			flex: 0 0 calc( 50% - 1.5rem );
		}

		 a {

			@extend .btn;

			text-align: left;
			display: block;
	 		text-decoration: none;
			padding: .75rem 0 .75rem calc( 1.5rem + 32px );
			line-height: 1.5rem;

			&:before {

				@extend .icon;
				@extend .icon-large;

				content: ' ';
				float: left;
				margin-left: calc( -.75rem - 32px ) !important;
				margin-top: -.75rem !important;
				height: 3rem;

			}
		}

		&.wpleeds-contact-item-twitter a:before {
			@extend .icon-twitter;
		}

		&.wpleeds-contact-item-facebook a:before {
			@extend .icon-facebook;
		}

		&.wpleeds-contact-item-email a:before {
			@extend .icon-mail;
		}

	}

}

/**
 * Bit of a hack to nicely align our form widget with our social widget.
 */
@media #{ $media-lg } {
	.wpleeds-contact {
		margin-top: 2.25rem;
		.wpleeds-contact-item {
			margin-bottom: 2.25rem;
		}
	}
}
