.wpleeds-contact {

	display: flex;
	flex-wrap: wrap;

	.wpleeds-contact-item {

		flex: 0 0 50%;

		 a {

			display: block;
			color: inherit;
	 		text-decoration: none;
			padding: .75rem 0 .75rem calc( .75rem + 32px );
			line-height: 1.5rem;

			&:before {

				@extend .icon;
				@extend .icon-large;

				content: ' ';
				float: left;
				margin-left: calc( -.75rem - 32px ) !important;
				margin-top: -.75rem !important;
				height: 3rem;

			}
		}

		&.wpleeds-contact-item-twitter a:before {
			@extend .icon-twitter;
		}

		&.wpleeds-contact-item-facebook a:before {
			@extend .icon-facebook;
		}

		&.wpleeds-contact-item-email a:before {
			@extend .icon-mail;
		}

	}

}
