@function grid-item( $columns, $total_columns: 12 ) {
	@return $columns / $total_columns * 100%;
}

.grid {

	display: flex;
	flex-wrap: wrap;
	align-items: stretch;

	> .grid-item {
		display: block;
		box-sizing: border-box;
		padding: 0 $grid-gutter / 2;
		flex: 1 1 auto;
	}

	@for $i from 1 through 12 {

		> .grid-item-#{$i} {
			@extend .grid-item;

			@media #{$media-lg} {
				& {
					flex: 0 0 grid-item( $i, 12 );
				}
			}

		}

	}

	&.grid-centered {
		justify-content: center;
	}

}
